body {
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    color: #323232;
}

hr {
    line-height: 2px;
    border-width: 0;
    margin-top: 0;
    margin-bottom: 5px;
    color: gray;
    background-color: gray;
}

section {
    margin-bottom: 18px;
}

ul {
    margin: 3px 0 0 0;
}

li {
    padding-bottom: 3px;
}

a:visited {
    color:blue;
}

.resume {
    max-width: 850px;
    margin: 40px auto;
    padding: 55px;
    background: #fbfbfb;
    box-shadow: 0 1px 2px;
}

.date-grid {
    display: flex;
    justify-content: space-between;
    
}

.main-title {
    text-align: center;
    font-size: 28px;
    margin: 0 0 5px 0;
}

.icon {
    height: 0.7em;
}



.header {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.item-title {
    font-weight: bold;
}

.item-date {
    font-weight: bold;
    font-style: italic;
}

.caption {
    font-style: italic;
}

.description {
    margin: 10px 0;
}

.inline-text {
    display: flex;
    justify-content: left;
    padding: 0 5px 5px 0;
}

.center-inline-text {
    display: flex;
    justify-content: center;
    overflow-wrap: normal;
}

.inline-items {
    margin-left: 5px;
}

.inline-links {
    margin-left: 15px;
}

.counter {
    text-align: center;
    font-size: 16px;
}

/* Avoiding incorrect wrapping for contact links */
@media only screen and (max-width:790px){
    
    body {
        font-size: 17px;
    }

    li {
        padding-bottom: 5px;
    }

    .counter {
        font-size: 14px;
    }

    .center-inline-text {
        flex-direction: column;
    }

    .date-grid {
        flex-direction: column;
    }

    .inline-links {
        margin-left: 0;
    }

    .resume {
        padding: 25px;
    }
}
